
@{
    ViewBag.Title = "Details";
}




<h2>Details</h2>
<div >


    <form method="post" action="~/Employee/Details">
        <br />
        <input type="hidden" name="Employee.EmployeeId" value="@Model.EmployeeId" disabled/>

        <label for="CompanyId">Company ID:</label>
        <input list="CompanyId" type="text" class="form-control" name="Employee.CompanyId" value="@Model.CompanyId" disabled/> 

        <label for="PositionId">Position ID:</label>
        <input type="text" class="form-control" name="Employee.PositionId" value="@Model.PositionId" disabled/>
    
        <label for="Department">Department Name:</label>
        <input type="text" class="form-control" name="Employee.Department" value="@Model.Department" disabled />

        <label for="ManagerEmployeeId">Manager Employee Id:</label>
        <input type="text" class="form-control" name="Employee.ManagerEmployeeId" value="@Model.ManagerEmployeeId" disabled/>

        <label for="FirstName">Firstname:</label>
        <input type="text" class="form-control" name="Employee.FirstName" value="@Model.FirstName" disabled />

        <label for="LastName">Lastname:</label>
        <input type="text" class="form-control" name="Employee.Lastname" value="@Model.LastName" disabled/>

        <label for="MiddleName">Middle Name:</label>
        <input type="text" class="form-control" name="Employee.MiddleName" value="@Model.MiddleName" disabled/>

        <label for="Email">Email:</label>
        <input type="email" class="form-control" name="Employee.Email" value="@Model.Email" disabled />

        <label for="JobTitle">Job Title:</label>
        <input type="text" class="form-control" name="Employee.JobTitle" value="@Model.JobTitle" disabled />

        <label for="HiringDate">Hiring Date:</label>
        <input type="date" class="form-control" name="Employee.HiringDate" value="@Model.HiringDate" disabled />

        <label for="StartingDate">Starting Date:</label>
        <input type="date" class="form-control" name="Employee.StartingDate" value="@Model.StartingDate" disabled />

        <br />
      

        <a href="/Employee/Edit/@Model.EmployeeId" class="btn btn-primary" style="margin-right:10px;" float="left"><i class="glyphicon glyphicon-edit"></i> Edit</a>
       <a href="/Employee/Index" class="btn btn-danger"><i class="glyphicon glyphicon-close "></i>Close</a>

    </form>

 

</div>


