<input type="hidden" name="AssetId" value="@Model.AssetId" />
@{
    Html.RenderPartial("_AuditColumns");
}

<div class="form-group" ng-controller="AssetTypeController as model" ng-init="model.InitialiseDropdown(@Model.AssetTypeId)">
    <label>Asset Type</label>
    <ui-select  ng-model="model.AssetType">
        <ui-select-match allow-clear="true" placeholder ="Select AssetType...">
            <span ng-bind="$select.selected.Name"></span>
            {{$item.Name}}
        </ui-select-match>
        <ui-select-choices repeat="assetType in (model.AssetTypes | filter: $select.search) track by $index">
            <span ng-bind="assetType.Name"></span>
        </ui-select-choices>
    </ui-select>
</div>

<div class="form-group" ng-controller="EmployeeController as model" ng-init="model.InitialiseDropdown(@Model.EmployeeId)">
    <label>Employee</label>
    <ui-select ng-model="model.Employee">
        <ui-select-match allow-clear="true" placeholder="Select Manager...">
            <span ng-bind="$select.selected.FirstName + ' ' + $select.selected.MiddleName + ' ' + $select.selected.LastName"></span>
        </ui-select-match>
        <ui-select-choices repeat="employee in (model.Employees | filter: $select.search) track by $index">
            <span ng-bind="employee.FirstName"></span>
            <span ng-bind="employee.MiddleName"></span>
            <span ng-bind="employee.LastName"></span>
        </ui-select-choices>
    </ui-select>
</div>
 
<div class="form-group">
    <label for="AssetTag">AssetTag</label>
    <input type="text" class="form-control" id="AssetTag" name="AssetTag" placeholder="AssetTag" value="@Model.AssetTag">
</div>
<div class="form-group">
    <label for="Description">Description</label>
    <input type="text" class="form-control" id="Description" name="Description" placeholder="Description" value="@Model.Description">
</div>

<div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" value="@Model.Name">
</div>
<div class="form-group">
    <label for="SerialNumber">SerialNumber</label>
    <input type="text" class="form-control" id="SerialNumber" name="SerialNumber" placeholder="SerialNumber" value="@Model.SerialNumber">
</div>
<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" />
</div>