
@*@{
    ViewBag.Title = "Add";
}

<h2>Add Asset</h2>
<div ng-controller="PeripheralController as model" ng-init="model.List()">
    <div class="form-group">
        <br />
        <form action="~/Peripheral/Add" method="get">
            <input type="hidden" class="form-control" id="Date" ng-model="model.Peripheral.Date" ng-init="model.InitialiseDate('@Model.Date')" disabled />
            <label for="EmployeeId">Employee Name:</label>
            <div ng-controller="EmployeeController as andersoncrm" ng-init="andersoncrm.List()">
                <select class="form-control" ng-model="model.Peripheral.EmployeeId" id="CompanyId">
                    <option ng-repeat="Employee in andersoncrm.Employees" ng-bind="Employee.FirstName+' ' +Employee.MiddleName+' '+Employee.LastName" value="{{Employee.EmployeeId}}">{{(Employee.FirstName)+ +(Employee.MiddleName)+ +(Employee.LastName)}}</option>
                </select>
            </div>

            <label for="AssetTag">Asset Tag:</label>
            <input type="text" class="form-control" id="Peripheral.AssetTag" ng-model="model.Peripheral.AssetTag  " placeholder="Asset Tag" required />
            
            <label for="PeripheralName">Asset Name:</label>
            <input type="text" class="form-control" id="PeripheralName" ng-model="model.Peripheral.PeripheralName" placeholder="Asset name" required />
            
            <label for="Description">Make :</label>
            <input type="text" class="form-control" id="Description" ng-model="model.Peripheral.Description" placeholder="Description" required />
            
            <label for="SerialNumber">Serial Number:</label>
            <input type="text" class="form-control" id="SerialNumber" ng-model="model.Peripheral.SerialNumber" placeholder="Serial Number" required />

            <br />

        </form>
    </div>

    <a href="/Peripheral/Index" class="btn btn-info"  id="myButton" role="button"  ng-click="model.Create() " style="margin-left: 10px;float: left"><i class="glyphicon glyphicon-plus-sign"></i> Add </a>
    <a href="/Peripheral/Index" class="btn btn-danger" style="margin-left:10px" float="left"><i class="glyphicon glyphicon-remove"></i> Close</a>

</div>*@ 


<input type="hidden" name="PeripheralId" value="@Model.PeripheralId" />
@{
    Html.RenderPartial("_AuditColumns");
}

<div class="form-group">
    
    <input type="hidden" class="form-control" id="PeripheralId" name="PeripheralId" placeholder="PeripheralId" value="@Model.PeripheralId">
</div>
<div class="form-group">
    
    <input type="hidden" class="form-control" id="EmployeeId" name="EmployeeId" placeholder="EmployeeId" value="@Model.EmployeeId">
</div>
<div class="form-group">
    
    <input type="hidden" class="form-control" id="PeripheralTypeId" name="PeripheralTypeId" placeholder="PeripheralTypeId" value="@Model.PeripheralTypeId">
</div>
 
<div class="form-group">
    <label for="AssetTag">AssetTag</label>
    <input type="text" class="form-control" id="AssetTag" name="AssetTag" placeholder="AssetTag" value="@Model.AssetTag">
</div>
<div class="form-group">
    <label for="Description">Description</label>
    <input type="text" class="form-control" id="Description" name="Description" placeholder="Description" value="@Model.Description">
</div>

<div class="form-group">
    <label for="Name">Name</label>
    <input type="text" class="form-control" id="Name" name="Name" placeholder="Name" value="@Model.Name">
</div>
<div class="form-group">
    <label for="SerialNumber">SerialNumber</label>
    <input type="text" class="form-control" id="SerialNumber" name="SerialNumber" placeholder="SerialNumber" value="@Model.SerialNumber">
</div>
<div class="form-group">
    <input type="submit" class="btn btn-primary" value="Submit" />
</div>